.searchBox {
    display: flex;
    margin: 10px 0 20px 10px;
    .searchItem {
        display: flex;
        align-items: center;
        margin-right: 20px;
        .label {
            width: 80px;
            color: #9F1F1F;
            font-weight:bold;
        }
    }
}
.item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    .label {
        width: 80px;
        color: #9F1F1F;
        font-weight:bold;
        &::before {
            content: '*';
            color: red;
        }
    }
    .value {
        flex: 1
    }
}
.sitem {
    display: flex;
    margin: 15px 0;
    .label {
        width: 80px;
        color: #9F1F1F;
        font-weight:bold;
        &::before {
            content: '*';
            color: red;
        }
    }
    .labels {
        width: 75px;
        margin-left: 6px;
        color: #9F1F1F;
        font-weight:bold;
    }
    .value {
        flex: 1
    }
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.defaultBtn:hover {
    border-color: #CF4343;
    color: #CF4343;
}

.auditBox {
    padding: 0 10px;
    .item {
        display: flex;
        margin-bottom: 10px;
        .label {
            width: 120px;
        }
        .value {
            flex: 1
        }
    }
}